<h1>IDEAS</h1>

<ul class='list-unstyled ml-3'>
  <% @ideas.each do |idea| %>
    <li>
      <button class='plus'>+</button>
      <button class='minus hide' >-</button>
      <%= link_to idea.title, idea_path(idea.id) %>
      <br />
      <p class='description hide'>
        <%= idea.description %>
      </p>
      <small>
        Posted <%= time_ago_in_words(idea.created_at) %> ago
      </small>
      <br/><br/>
    </li>
  <% end %>
</ul>